source/.quarto/
source/_inv/
source/_site/
source/_extensions/
source/images/
source/reference/
source/site_libs/
source/changelog.qmd
source/objects.inv
source/objects.txt
source/_variables.yml
source/plotnine.scss
source/qrenderer.scss
source/guide
source/gallery/thumbnails
source/gallery/img/small
source/gallery/img/medium
source/gallery/img/large
# When quarto doesn't complete it may leave a dirty repo with
# files destined for the output-dir but have not been moved over.
source/gallery/*_files/
source/gallery/*.html
source/**/index_files/
source/blog/**/index.html
source/*.html
uv.lock
node_modules
package-lock.json
.DS_Store
