source/.quarto/
source/_inv/
source/_site/
source/_extensions/
source/images/
source/reference/
source/site_libs/
source/changelog.qmd
source/objects.inv
source/objects.txt
source/_variables.yml
source/plotnine.scss
source/qrenderer.scss
uv.lock
node_modules
package-lock.json
