// Ref:
// - https://getbootstrap.com/docs/5.3/utilities/spacing/
// - https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

/*-- scss:defaults --*/

/*-- scss:mixins --*/

/*-- scss:rules --*/

.quarto-title .quarto-categories .quarto-category {
  text-transform: capitalize;
  font-size: 0.75rem;
}

// blog index
div.quarto-post img.thumbnail-image {
   width: 50%;
}


/*-- scss:functions --*/

/*-- scss:uses --*/

